.images-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 5rem;

}

.image-link-item {

    display: flex;
    flex-direction: column;

    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;

    width: 400px;
    height: 400px;
    overflow: hidden;

    position: relative;

}

.image-item {

    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;

    max-width: 400px;
    width: 100%;

    height: 350px;

}

.image-item img {

    width: 100%;
    height: 100%;
    object-fit: contain;

}

.heart-count-icon {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    min-height: 25px;

}


.empty-image {
    width: 400px;
    height: 0;
}