.images-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 5rem;

}

.image-item {

    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;

    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;

    width: 400px;
    height: 400px;

}

.image-item img {

    max-width: 400px;

}


.empty-image {
    width: 400px;
    height: 0;
}